aside.sidebar
    include _sidebar/_main-filter
    .island.filters
        include _sidebar/_availability
        include _sidebar/_brends
        include _sidebar/_price
        include _sidebar/_colors
        include _sidebar/_os
