.island__item.price
    .price__title
        a.island__link(href="#")
            | Цена
    .island__content
        .price__item-from
            |от
            input.price__price-from
        .price__item-to
            |до
            input.price__price-to
        .clearfix
        .slider-range
                .slider-range__item

    i.island__item__action